{# src/Demo/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "DemoCoreBundle::layout.html.twig" %}

{% block bodyHeader %}
{{ parent() }}
<p>
    Texte de présentation du site
</p>
{% endblock %}
{% block bodyMenu %}
    {{ parent() }}
    <h4>Dernières annonces</h4>
    <ul class="nav flex-column">
    {{ render(controller("DemoPlatformBundle:Advert:menu", {'limit': 3})) }}
    </ul>
    
{% endblock %}
