{# src/Demo/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "DemoCoreBundle::layout.html.twig" %}

{% block bodyHeader %}
{{ parent() }}
<p>
    Texte de présentation du site
</p>
{% endblock %}
{% block bodyMenu %}
    {{ parent() }}
    <h4>Dernières annonces</h4>
    <ul class="nav flex-column">
    {% for advert in listAdverts %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('demo_platform_view', {'id': advert.id}) }}">
            {{ advert.title }}
          </a>
        </li>
    {% endfor %}    
    </ul>
    
{% endblock %}
