{# src/Demo/PlatformBundle/Resources/view/Advert/edit.html.twig #}

{% extends "DemoPlatformBundle::layout.html.twig" %}
{% block title %}Modifier une annonce - {{ parent() }}{% endblock %}

{% block demoplatform_bodyContent %}
  <h3>Modifier une annonce</h3>
  
  {{ include("DemoPlatformBundle:Advert:form.html.twig") }}
  
  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.
  </p>
  <p>
    <a href="{{ path('demo_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>
{% endblock %}